<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    
    <label>
      REF_DATE:
      <input type="text" formControlName="REF_DATE">
    </label>
    <label>
      GEO:
      <input type="text" formControlName="GEO">
    </label>
    <label>
      DGUID:
      <input type="text" formControlName="DGUID">
    </label>
    <label>
      PRODUCT:
      <input type="text" formControlName="PRODUCT">
    </label>
    <label>
      STORAGE:
      <input type="text" formControlName="STORAGE">
    </label>
    <label>
      UOM:
      <input type="text" formControlName="UOM">
    </label>
    <label>
      UOM_ID:
      <input type="text" formControlName="UOM_ID">
    </label>
    <label>
      SCALAR_FACTOR:
      <input type="text" formControlName="SCALAR_FACTOR">
    </label>
    <label>
      SCALAR_ID:
      <input type="text" formControlName="SCALAR_ID">
    </label>
    <label>
      VECTOR:
      <input type="text" formControlName="VECTOR">
    </label>
    <label>
      COORDINATE:
      <input type="text" formControlName="COORDINATE">
    </label>
    <label>
      VALUE:
      <input type="text" formControlName="VALUE">
    </label>
    <label>
      STATUS:
      <input type="text" formControlName="STATUS">
    </label>
    <label>
      SYMBOL:
      <input type="text" formControlName="SYMBOL">
    </label>
    <label>
      TERMINATED:
      <input type="text" formControlName="TERMINATED">
    </label>
    <label>
      DECIMALS:
      <input type="text" formControlName="DECIMALS">
    </label>
    <button type="submit">Submit</button>
  </form>
  