<!-- data-detail.component.html -->
<h2>Data Details</h2>
<div *ngIf="data">
  
  <p><strong>REF_DATE:</strong> {{data.REF_DATE}}</p>
  <p><strong>GEO:</strong> {{data.GEO}}</p>
  
  <p><strong>PRODUCT:</strong> {{data.PRODUCT}}</p>
  <p><strong>STORAGE:</strong> {{data.STORAGE}}</p>
  <p><strong>UOM:</strong> {{data.UOM}}</p>
  
  <p><strong>VECTOR:</strong> {{data.VECTOR}}</p>
  <p><strong>COORDINATE:</strong> {{data.COORDINATE}}</p>
  <p><strong>VALUE:</strong> {{data.VALUE}}</p>
  

  <!-- Link to Edit page -->
  <button routerLink="/edit/{{data._id}}">Edit this data</button>
  <button (click)="deleteData(data._id)" class="delete">Delete this data</button>
</div>
