
<button [routerLink]="['/create']">Create new data entry</button>
<br>
<br>


<button (click)="selectChart('pie')">Different Product Rows</button>
<button (click)="selectChart('pie2')">January tonnes by Product</button>
<button (click)="selectChart('pie3')">February tonnes by Product</button>
<button (click)="selectChart('pie4')">March tonnes by Product</button>
<button (click)="selectChart('pie5')">April tonnes by Product</button>

<br>
<br>

<ngx-charts-pie-chart *ngIf="selectedChart === 'pie'"
  [results]="pieChartData"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient">
</ngx-charts-pie-chart>

<ngx-charts-pie-chart *ngIf="selectedChart === 'pie2'"
  [results]="januaryChartData"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient">
</ngx-charts-pie-chart>

<ngx-charts-pie-chart *ngIf="selectedChart === 'pie3'"
  [results]="februaryChartData"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient">
</ngx-charts-pie-chart>

<ngx-charts-pie-chart *ngIf="selectedChart === 'pie4'"
  [results]="marchChartData"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient">
</ngx-charts-pie-chart>

<ngx-charts-pie-chart *ngIf="selectedChart === 'pie5'"
  [results]="aprilChartData"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient">
</ngx-charts-pie-chart>

    <div class="data-container">
    
        <div *ngIf="data; else loading">
    
    
        <div class="row">

        <table class="table">
        <thead>
        
        <th>REF_DATE</th>
        <th>GEO</th>
        <th>PRODUCT</th>
        <th>STORAGE</th>
        <th>UOM</th>
        <th>VECTOR</th>
        <th>COORDINATE</th>
        <th>VALUE</th>
        </thead>
        <!-- by daniel barboza-->
    <tbody>
    <tr *ngFor="let item of data" [ngClass]="{'table-row': true}" (click)="detailData(item._id)">
        
        <td>{{item.REF_DATE}}</td>
        <td>{{item.GEO}}</td>
        <td>{{item.PRODUCT}}</td>
        <td>{{item.STORAGE}}</td>
        <td>{{item.UOM}}</td>
        <td>{{item.VECTOR}}</td>
        <td>{{item.COORDINATE}}</td>
        <td>{{item.VALUE}}</td>
    </tr>
    </tbody>
      </table>
    </div>
        </div>
      

<ng-template #loading>
    <p>CSV file is BIG, Loading data...</p>
</ng-template>
</div>
