<main>
<button [routerLink]="['/create']">Create new data entry</button>

    <div class="data-container">
    
        <div *ngIf="data; else loading">
    
    
        <div class="row">

        <table>
        <tr>
        <th>ID</th>
        <th>REF_DATE</th>
        <th>GEO</th>
        <th>DGUID</th>
        <th>Type of product</th>
        <th>Type of storage</th>
        <th>UOM</th>
        <th>UOM_ID</th>
        <th>SCALAR_FACTOR</th>
        <th>SCALAR_ID</th>
        <th>VECTOR</th>
        <th>COORDINATE</th>
        <th>VALUE</th>
        <th>STATUS</th>
        <th>SYMBOL</th>
        <th>TERMINATED</th>
        <th>DECIMALS</th>
    </tr>
    
    <tr *ngFor="let item of data">
        <td><button [routerLink]="['/detail', item.ID]">View</button></td>
        <td>{{item.ID}}</td>
        <td>{{item.REF_DATE}}</td>
        <td>{{item.GEO}}</td>
        <td>{{item.DGUID}}</td>
        <td>{{item.TOP}}</td>
        <td>{{item.TOS}}</td>
        <td>{{item.UOM}}</td>
        <td>{{item.UOM_ID}}</td>
        <td>{{item.SCALAR_FACTOR}}</td>
        <td>{{item.SCALAR_ID}}</td>
        <td>{{item.VECTOR}}</td>
        <td>{{item.COORDINATE}}</td>
        <td>{{item.VALUE}}</td>
        <td>{{item.STATUS}}</td>
        <td>{{item.SYMBOL}}</td>
        <td>{{item.TERMINATED}}</td>
        <td>{{item.DECIMALS}}</td>
    </tr>
      </table>
    </div>
        </div>
      

<ng-template #loading>
    <p>CSV file is BIG, Loading data...</p>
</ng-template>
</div>
</main>
